<!DOCTYPE html>
<html>
<head>
    <title>Menú de Órdenes de Compra</title>
</head>
<body>
    <h1>Menú de Órdenes de Compra - Mercado Público</h1>
    <ul>
        <li><a href="#" id="rescatar_ordenes">Rescatar Órdenes de Compra</a></li>
        <li><a href="#" id="obtener_ordenes_fecha">Obtener Órdenes de Compra por Fecha</a></li>
        <!-- Otros elementos del menú -->
    </ul>

    <!-- Agregar un elemento div para mostrar mensajes -->
    <div id="mensaje"></div>

    <script>
        // Envolver el script en el evento DOMContentLoaded
        document.addEventListener("DOMContentLoaded", function() {
            // Agregar un evento de clic al enlace con id "rescatar_ordenes"
            document.getElementById("rescatar_ordenes").addEventListener("click", function() {
                mostrarMensaje("Se está procesando información 'Órdenes de compra', por favor espere...");
                // Realizar una solicitud al servidor cuando se haga clic
                console.log("Clic en rescatar_ordenes");
            
                setTimeout(function () {
                    fetch('/rescatar_ordenes', {
                        method: 'GET'
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);
                        mostrarMensaje(data.message);
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        mostrarMensaje("Se produjo un error al ejecutar la acción.", true);
                    });
                }, 5000);
            });

            document.getElementById("obtener_ordenes_fecha").addEventListener("click", function() {
                mostrarMensaje("Se está procesando información 'Órdenes de compra por fecha', por favor espere...");
                console.log("Clic en obtener_ordenes_fecha");
                
                setTimeout(function () {
                    fetch('/obtener_ordenes_fecha', {
                        method: 'GET'
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);
                        mostrarMensaje(data.message);
            
                        // Redirigir a la página orden_compra_fecha si la respuesta es exitosa
                        if (!data.error) {
                            window.location.href = '/orden_compra_fecha';
                        }
                    })
                    .catch(error => {
                        console.error('Error en la solicitud:', error);
                        mostrarMensaje(`Se produjo un error al ejecutar la acción: ${error.message}`, true);
                    });
                }, 500000);
            });

            // Función para mostrar mensajes en el elemento div
            function mostrarMensaje(mensaje, esError = false) {
                const elementoMensaje = document.getElementById("mensaje");
                elementoMensaje.textContent = mensaje;
                elementoMensaje.style.color = esError ? "red" : "green";

                // Ocultar el mensaje después de unos segundos (ajusta según tus necesidades)
                setTimeout(() => {
                    elementoMensaje.textContent = "";
                }, 100000); // 5000 milisegundos = 5 segundos
            }
        });
    </script>
</body>
</html>
